<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Thermostat</title>
  <link href="/public/css/reset.css" type="text/css" rel="stylesheet">
  <link href="/public/css/styles.css" type="text/css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,900' rel=
  'stylesheet' type='text/css'>
</head>

<body>
  <div id="wrapper">
    <div id="right-bar">
      <img alt="thermometer" class="thermo" src="/public/img/thermo3.png">

      <p class="thermotext">thermo</p>
    </div>

    <div id="container">
      <div class="main">
        <h1 id="temperature">??</h1>

        <div class="blacktext">
          <p><a class="button tempchange increaseTemperature" href="#">+</a>
          <a class="button tempchange decreaseTemperature" href="#">-</a>
          <a class="button tempchange reset" href="#">reset</a></p>

          <div id="block"></div>

          <p class="new">power saving mode<br></p><a class="powerSave" href=
          "#">toggle</a>
        </div>
      </div>
    </div>
  </div><script src=
  "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> <script src="/public/js/Thermostat.js"></script> <script src="/public/js/interface.js"></script>
</body>
</html>